<section class="vh-100 bg-light">

  <div class="container">

    <h3 class="fw-bold m-3 text-center">RESULT HASH ANALYSIS</h3>

    <div class="text-end mb-3">
      <button id="collapseAll" class="btn" title="Collapse All">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-angle-contract" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707M15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707"/>
        </svg>
      </button>
      <button id="expandAll" class="btn" title="Expand All">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-angle-expand" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707"/>
        </svg>
      </button>
    </div>

    <% accordian_ids_count = 0 %>

    <% @result_hashes.each do |result_hash| %>
      <% accordian_ids_count += 1 %>
      <div class="accordion mb-1" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="<%= "panelsStayOpen-heading#{accordian_ids_count}" %>" >
            <button class="accordion-button collapsed fw-bold d-flex justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="<%= "#panelsStayOpen-collapse#{accordian_ids_count}" %>" aria-expanded="false" aria-controls="<%= "panelsStayOpen-collapse#{accordian_ids_count}" %>">
              <div class="flex-grow-1">
                <%= accordian_ids_count %>. <%= result_hash['ENV'].upcase %> | <%= result_hash['tenant'].downcase %>
                | <%= result_hash['index_name'] %>
              </div>
              <div class="pe-2" style="color: <%= result_hash&.dig('accordion_head_colour') %>;">
                <%= result_hash&.dig('red_count') != 0 ? "Error: #{result_hash&.dig('red_count')} |" : '' %> Total: <%= result_hash['total_source_count'] %>
              </div>
            </button>
          </h2>
          <div id="<%="panelsStayOpen-collapse#{accordian_ids_count}"%>" class="accordion-collapse collapse" aria-labelledby=<%= "panelsStayOpen-collapse#{accordian_ids_count}" %>>
            <div class="accordion-body">
              <% if result_hash['entity_type'] == 'tenant_index' %>
                <%= render 'result_hash/index_partials/tenant_index', locals: { result_hash: result_hash, count: accordian_ids_count } %>
              <% elsif result_hash['entity_type'] == 'single_doc_index' %>
                <%= render 'result_hash/index_partials/single_doc_index', locals: { result_hash: result_hash } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <!-- Result Json Modal -->
  <div class="modal fade modal-lg" id="viewresulthash" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewresulthashLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="viewresulthashLabel">Result Json</h5>

          <div class="ms-3">
            <button class="btn p-1 text-center" onclick="copyContent()" id="copy-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
              </svg>
              Copy Json
            </button>
          </div>

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <pre id="json-output-result-hash"></pre>
        </div>
      </div>
    </div>
  </div>

</section>


<script>
    function getResultHashVal(sourceKey) {
        try {
            return JSON.parse($('#view-result-hash-' + sourceKey).val());
        } catch (ex) {
            alert('Wrong JSON Format: ' + ex);
        }
    }

    function getSourceKey(button) {
        var sourceKey = button.value;
        document.getElementById("json-output-result-hash").textContent = JSON.stringify(getResultHashVal(sourceKey), undefined, 2);
    }

    const copyContent = async () => {
        try {
            let text = document.getElementById('json-output-result-hash').innerHTML;
            await navigator.clipboard.writeText(text);
            var originalCopyBtn = document.getElementById('copy-button').innerHTML
            document.getElementById('copy-button').innerHTML = 'Copied';
            setTimeout(() => {
                document.getElementById('copy-button').innerHTML = originalCopyBtn;
            }, 1000);
        } catch (err) {
            console.error('Failed to copy: ', err);
        }
    }

</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const collapseAllButton = document.getElementById('collapseAll');
        const expandAllButton = document.getElementById('expandAll');

        collapseAllButton.addEventListener('click', function () {
            const accordions = document.querySelectorAll('.accordion-collapse');
            accordions.forEach(accordion => {
                if (accordion.classList.contains('show')) {
                    const button = accordion.previousElementSibling.querySelector('.accordion-button');
                    button.classList.add('collapsed');
                    button.setAttribute('aria-expanded', 'false');
                    accordion.classList.remove('show');
                }
            });
        });

        expandAllButton.addEventListener('click', function () {
            const accordions = document.querySelectorAll('.accordion-collapse');
            accordions.forEach(accordion => {
                if (!accordion.classList.contains('show')) {
                    const button = accordion.previousElementSibling.querySelector('.accordion-button');
                    button.classList.remove('collapsed');
                    button.setAttribute('aria-expanded', 'true');
                    accordion.classList.add('show');
                }
            });
        });
    });
</script>
